
<div class="modal fade" id="MasterStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="modalTitle">Formulir Penambahan Data Master Status</h4>
            </div>
            <div class="modal-body">
                <div id="errorMessage"></div>
                <form id="MasterStatusForm">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="id">ID Status</label>
                        <input type="text" class="form-control" id="id" placeholder="ID Status" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="name">Nama Status</label>
                        <input type="text" class="form-control" id="name" placeholder="Nama Status" />
                    </div>
                    <div class="form-group">
                        <label for="patternExtensionSelector">Pattern Extension Yang Dipakai</label>
                        <select id="patternExtensionSelector" class="form-control">
                            <option selected>Pilih Pattern Extension Yang Dipakai</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="btnAdd" onclick="addMasterStatus();">Tambah</a>
                <a class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="updateMasterStatus();">Perbarui</a>
                <a class="btn btn-danger" id="btnDelete" style="display:none;" onclick="deleteMasterStatus();">Hapus</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>  
