
<div class="modal fade" id="historyTimelineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="modalTitle">Historis Perpindahan Data</h4>
            </div>
            <div class="modal-body">
                <ul class="timeline" id="historyTimeline"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" id="historyTimelineFtpCloseButton" class="btn btn-default" onclick="closeHistoryFTPTimeline()">Kembali Ke List Historis</button>
                <button type="button" id="timelineFtpCloseButton" class="btn btn-default" onclick="closeFTPTimeline()">Kembali Ke List Monitoring Log Detail</button>
            </div>
        </div>
    </div>
</div>
