
<div class="modal fade" id="historyFtpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="modalTitle">Historis Perpindahan Data</h4>
            </div>
            <div class="modal-body">
                <table id="history_ftp_datatables" class="table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Monitoring Date</th>
                        <th>File Template Name</th>
                        <th>File Name</th>
                        <th>File Modified Datetime</th>
                        <th>Last Status</th>
                        <th>Last ETL Run Datetime</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>  
