<!-- Main Footer -->
<footer class="main-footer" style="margin-left: 0px;">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year Otoritas Jasa Keuangan.</strong> All rights reserved.
</footer>
